@import './fonts/inter/inter.css';

body {
  @apply scroll-smooth;

  height: 100vh;
  font-family: 'Inter Tight', 'Arial Fallback', sans-serif;
}

#root {
  height: 100%;
}

#root,
#portal-root {
  isolation: isolate;
}